* {
    box-sizing: border-box;
}

body{
    background-color: #90C7E3;
    color: #666666;
    font-family:Verdana, Arial, sans-serif;
    margin:0;
    }
dt{
    color: darkblue;
    font-weight: 700;
}
#desktop{
    display:none;
}
footer{
    width:82.5%;
    font-size:0.7em;
    font-style:italic;
    text-align:center;
    padding:1em;
    background-color:white;
}
form{
    display: flex;
    flex-direction: column;
    padding-left: 1em; 
    width: 80%;
}
input{
    margin-bottom:0.5em;
}
header{
    padding:1em;
}
header a{
    text-decoration:none;
}
header a:link,a:visited{
    color: white;
}
header a:hover{
    color:lightblue;
}
h1{
    background-color: #002171;
    color: #ffffff;
    font-family : georgia, serif;
    font-size: 1.5em;
    text-align:center;
    }
h2{
    color: #1976D2;
    font-family : georgia, serif;
    }
h3{
    font-family:Georgia, Serif;
}

#homehero{
    background-image: url(coast.jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-size:200% 100%;
}
main{
    padding-top:0;
    padding-bottom:0;
    padding-left:1em;
    padding-right:1em;
    display:block;
}
#mobile{
    display:inline;
}
nav{
    font-size:1.2em;
    background-color:white;
    text-align:center;
}
nav a { text-decoration: none; }
nav a:link{
    color:#5C7FA3;
}
nav a:visited{
    color:#344873;
}
nav a:hover{
    color:#A52A2A;
}
nav li{
    padding-top:0.5em;
    padding-bottom: 0.5em;
    padding-left:1em;
    padding-right:1em;
    width:100%;
    border-bottom:1px solid;
}
nav ul {
    display:flex;
    flex-direction:column;
    list-style:none;
    padding-left:0;
    margin:0;
}
.resort{
    color:#1976D2;
    font-size: 1.2em;
}
#reshero{
    height:300px;
    background-image: url(ocean.jpg);
    background-size:200% 100%;
    background-repeat:no-repeat;
}
section{
    padding-left:0.5em;
    padding-right:0.5em;
}
table{
    border-color: blue;
    border: 1px solid blue;
    border-collapse: collapse;
    width:90%;
}
td,th{
    padding:5px;
    border:1px solid blue;
}
td{
    text-align: center;
}
td.text{
    text-align: left;
}

tr:nth-child(even){
    background-color: lightblue ;
}
textarea{
    margin-bottom: 0.5em;
}
#trailhero{
    background-image: url(trail.jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-size:200% 100%;
}
#wrapper{  
    background-color: #FFFFFF;
    text-indent: 0.1em;
}
#yurthero{
    background-image: url(yurt.jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-size:200% 100%;
}
@media only screen and (min-width:600px){
    body{
        background-color: lightblue;
    }
    form{
        width:60%;
        display:grid;
        gap:1em;
        grid-template-columns: 10em 1fr;
    }
    h1{
        font-size:2em;
        letter-spacing:.25em;
    }
    nav ul{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        padding-right:2em;
    }
    nav li{
        width:12em;
        border-bottom:none;
    }
    section{
        padding-left:2em;
        padding-right:2em;
    }
    #flow{
        display:flex;
        flex-direction:row;
    }
    #mobile{
        display:none;
    }
    #desktop{
        display:inline;
    }
    #homehero, #yurthero, #trailhero, #reshero{
        background-size: 100% 100%;
    }
    #mySubmit{
        grid-column:2;
        width:9em;
    }
}
@media only screen and (min-width:1024px){
   body{
 background-image:linear-gradient(to bottom, white 20%, #90c7e3 60%, white 100%);
   }
   nav ul{
    padding-right:10%;
    padding-left:10%;
   }
   #wrapper{
    margin-left:auto;
    margin-right:auto;
    width:80%;
   }

}
